@import "global.scss";


//
// Custom styles
//

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

h2 {
  font-size: 38px;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.color-yellow {
  color: $yellow;
}

.color-white {
  color: $white;
}

.color-blue {
  color: $blue;
}

.bg-company-color {
  background: $blue;
}

.main-content {
  background-image: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
  padding-top: 40px;
  padding-bottom: 40px;
}

p {
  color: $darkGray;
  font-size: 18px;
}

.head-text {
  color: $white;
  font-size: 18px;
}

.header-icons {
  padding-top: 20px;
  padding-bottom: 20px;

  .icon {
    margin-left: 25px;
  }
}

.form-wrapper {
  padding-top: 30px;
  padding-bottom: 65px;
}

.email-form {
  .form-control {
    height: 50px;
    color: $lightGray;
    font-size: 16px;
    text-transform: uppercase;
    background: #ffffff;
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: bold;
    //margin-bottom: 10px;
    margin: 0;
  }

  .btn-primary {
    background-image: linear-gradient(225deg, #f2da56 0%, #f6bc25 100%);
    box-shadow: 0 3px 0 0 #a6953b, inset 0 1px 0 0 #ffffff;
    border-radius: 6px;
    font-size: 22px;
    color: $blue;
    letter-spacing: 0.93px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    margin-top: 10px;

    &:hover {
      background: $darkYellow;
      box-shadow: 0 3px 0 0 #a6953b, inset 0 1px 0 0 #ffffff;
    }

    @include media-breakpoint-up(md) {
      height: 50px;
      margin: 0;
    }
  }

  .email-form-elements {
    flex-direction: row;

    @include media-breakpoint-up(md) {
      flex-direction: column;
    }
  }

  .form-disclaimer {
    margin-top: 30px;
    //padding-bottom: 40px;
    p {
      margin: 0;
    }

    .icon-lock {
      margin-right: 10px;
    }

    @include media-breakpoint-up(md) {
      //padding-bottom: 95px;
    }
  }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
  border-color: $danger;
  border-width: 3px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
}

.invalid-feedback {
  margin: 0;

  span {
    color: $white;
    background: $danger;
    padding-left: 3px;
    padding: 5px 10px;
    border-radius: 0 0 3px 3px; 
    display: block;

    @include media-breakpoint-up(md) {
      display: inline-block;

    }
  }

}

.custom-card {
  background: none;
  border: 0;

  .card-number {
    background: $blue;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-family: HelveticaNeue-Bold;
    font-size: 26px;
    color: $yellow;
    letter-spacing: 0;
    text-align: center;
    line-height: 50px;

    @include media-breakpoint-up(md) {
      width: 90px;
      height: 90px;
      line-height: 90px;
      font-size: 48px;
    }
  }

  .card-body {
    padding: 0;

    .card-text {
      color: $black;
    }
  }

  .card-title {
    color: $blue;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.hide {
  display: none!important;
}

/* Footer Navigation */

.footer-wrapper {
  padding-top: 14px;
  p {
    font-size: 15px;
    color: $gray;
  }

  .footer-navigation {
    li {
      margin-right: 5px;
      margin-right: 5px;
      flex-basis: auto;
      margin: 0.25em 0;
      padding: 0 1em;
      text-align: center;
      border-left: 1px solid $blue;

      &:first-child {
        border-left: 0;
      }

      a {
        font-weight: bold;
      }
    }

    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }
}
